//
// Variables
//

:root {
  --accent-light: 177 223 246; // rgb(177 223 246)
  --accent-main: 22 146 208; // rgb(22 146 208)
  --accent-dark: 10 65 92; // rgb(10, 65, 92)


  --system-accent-light: hsl(200, 80%, 83%);
  --system-accent-main: hsl(200, 81%, 45%);
  --system-accent-dark: hsl(200, 80%, 20%);


  --text-primary: 0 0 0; // rgb(0, 0, 0)
  --tray-text: #000000;
  --tray-background: #e4e4e4;
  --tray-border: #aaaaaa;

  --input-border: #555;
  --input-border-hover: #000;
  --input-active-background: #ddd;

  // simple
  --slider-track: 0 0 0; // rgb(0, 0, 0)

  --slider-track-color: rgba(0, 0, 0, 0.42);

  @media screen and (prefers-color-scheme: dark) {
    --text-primary: 255 255 255; // rgb(255, 255, 255)
    --tray-text: white;
    --tray-background: #1f1f1f;
    --tray-border: #434343;

    --input-border: #6f6f6f;
    --input-border-hover: #fff;
    --input-active-background: #444;

    // Simple
    --slider-track: 255 255 255; // rgb(255, 255, 255)

    --slider-track-color: rgba(255, 255, 255, 0.42);
  }
}
